nav {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: rgb(88, 9, 167);
  align-items: center;
  justify-content: center;
}
nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul li {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(186, 59, 152);
}
